/* (0,0,1) */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f2f2f2;
}

/* (0,0,0) */
* {
    margin: 0;
    padding: 0;
  }

/* Cabecera */
/* (0,0,2) */
header h1 {
    background-color: #2b2b2b;
    color: white;
    text-align: center;
    font-size: 2.5em;
    max-width: 100%;
    grid-column: 1 / -1;
}

/* Menú de navegación */

/* (0,0,1) */
nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #2b2b2b;
    color: white;
    padding: 0.5em;
    font-size: 1em;
}

/* (0,0,2) */
nav a{
    text-decoration: none;
    margin-right: 0.75em;
    padding: 0.3em;
    color: white;
    /* Da advertencia de color justificada en el leeme.txt. Hereda el de fondo del nav*/
    font-weight: bold;

}

/* (0,1,2) */
nav a:hover {
    background-color: rgb(89, 89, 89);
}   

body section {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    color: #333;
    margin: 1em 1.5em;
    padding: 1em 1.5em;
    border-radius: 0.5em;
    font-size: 1.5em;
}


/* Sección simple */
/* (0,0,2) */
main section {
    background-color: #fff;
    color: #333;
    margin: 1em 1.5em;
    padding: 1em 1.5em;
    border-radius: 0.5em;
    font-size: 1.5em;
}

/* (0,0,3) */
main section h2 {
    font-size: 1.5em;
    margin-bottom: 0.1em;
}

/* (0,0,3) */
main section ul {
    margin-bottom: 0.2em;
}

/* (0,0,4) */
main section ul li {
    margin-left: 2em;
}

/* (0,0,5) */
main section ul li ol {
    margin-bottom: 1em;
    margin-left: 3em;
}

/* Pie de página */
/* (0,0,1) */
footer {

    background-color: #2b2b2b;
    color: white;
    padding: 0.2em;
    text-align: center;
}

/* (0,0,2) */
footer h2 {
    font-size: 2em;
    margin-bottom: 0.5em;
}

/* (0,0,2) */
footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    margin-bottom: 0.5em;
}

/* (0,0,3) */
footer ul li {
    display: flex;
    flex-direction: row;
}

/* (0,0,4) */
footer ul li a {
    color: white;
    padding: 0.3em;
    /* Da advertencia de color justificada en el leeme.txt, hereda el color de fondo del selector del footer */
    font-weight: bold;
}

/* (0,1,4) */
footer ul li a:hover {
    background-color: rgb(89, 89, 89);
}   

/* (0,0,1) */
label {
    margin-left: auto;
    margin-right: 0.5em;
}

/* (0,0,1) */
input{
    margin-right: 0.5em;
    max-width: 8em;
    font-size: 1em;
    padding: 0.5em;
}

/* (0,0,1) */
button {
    padding: 0.5em;
    margin-right: 2em;
    border-radius: 0.25em;
    border: none;
    font-size: 1em;
}

/* (0,1,1) */
button:hover {
    cursor: pointer;
}