/* (0, 1, 2) */
main > section:nth-child(3){
    display: grid;
    grid-template-rows: auto auto auto;
    grid-template-columns: auto auto auto;
    grid-gap: 1em;
}

/* (0, 1, 2) */
main > section:nth-child(3) h2, main > section:nth-child(3) p{
    grid-column: span 3;
}

/* (0, 1, 3) */
main > section:nth-child(3) figure{
    grid-column: span 1;
}