nav img {
  max-width: 1.25em;
  max-height: 1.25em;
  margin-right: 0.1em;
  background-color: white;
  }

/* (0,0,1) */
section img {
    max-width: 100%;
    max-height: 6.5em;
    margin: 2em auto;
  }

/* (0,0,1) */
figure {
  text-align: center;
  margin: 2em 0;
}

/* (0,0,2) */
figure img {
  border: 0.2em solid #333;
  border-radius: 0.5em; 
}

/* (0,0,2) */
figure figcaption {
  margin-top: 1em;
  color: black; /* Da advertencia de color justificada en el leeme.txt. Hereda el color de fondo del selector de body en el fichero estilo.css */
}

/* (0,0,1) */
video {
  max-width: 100%;
  max-height: 12em;
  display: block;
  margin: 2em auto; 
  border: 0.2em solid #333; 
  border-radius: 0.5em; 
}

/* (0,0,4) */
footer ul li img {
  max-width: 2em;
  margin-right: 0.5em;
}